@if (tarjetaData.enabled === true) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{tarjetaData.title}}</mat-card-title>
      <mat-card-subtitle>{{tarjetaData.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="{{tarjetaData.background_image}}"
      alt="{{tarjetaData.subtitle}}">
    <mat-card-content>
      <div class="text-desc" [innerHTML]="tarjetaData.description"></div>
    </mat-card-content>
    @if (tarjetaData.button_text) {
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          (click)="onClick(tarjetaData.id)"
        >
          {{tarjetaData.button_text}}
        </button>
      </mat-card-actions>
    }
  </mat-card>
}