<div class="container">
  <div class="logo-home">
    <img src="../../../../assets/full-logo.png" alt="Logo" class="logo" />
    <h3>¡Descubre al mundo con nosotros!</h3>
  </div>
</div>
<!-- <youtube-video-player
  class="video-element"
  videoId="Ns2NxC7w-kY"
  isShort="true"
>
</youtube-video-player> -->
<div class="container">
  @for ( tarjeta of tarjetaData; track tarjeta ) {
    <sansia-tarjeta
      [tarjetaData]="tarjeta"
      (cardClicked)="onAction($event)"
    ></sansia-tarjeta>
  }
</div>