@media  screen and (min-width: 1024px) {
  .container {
    width: 1096px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
    margin: 10px auto 0px;
    // center with same separation betwween
    justify-content: space-around;
  }
}

@media only screen and (max-width: 450px) {
  .container {
    margin: 5px 15px 0px;
  }
}